body {

    overflow-x: unset;
}

.movie-section {

    color: white;
    padding: 170px 15vw;
}

.movie-section li {
    
    list-style: none;
    text-align: center;
    margin: 20px 30px;
    width: 40%;
}

.movie-section img {

    height: 225px;
    width: 225px;
    margin: auto;
}

 .movie-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.movie-section h3 {

    margin: 10px auto;
}

.movie-section h6 {

    margin: 5px auto 10px auto;
}

.movie-section h1 {

    margin: 50px auto;
    text-align: center;
}

.description {

    width: 80%;
    margin: 5px auto;
}