body {

    overflow-x: unset;
}

.music-section {

    color: white;
    padding: 170px 15vw;
}

.music-section li {
    
    list-style: none;
    text-align: center;
    margin: auto 20px;
}

.music-section img {

    height: 225px;
    width: 225px;
}

.artists img {

    border-radius: 100%;
}

 .music-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.artists h3 {

    margin: 20px auto;
}

.songs h6 {

    margin: 10px auto 20px auto;
}

.music-section h1 {

    margin: 50px auto;
}