* {

    padding: 0;
    margin: 0;
}

body {

    height: 500vh;
}

.navbar {

    background-color: #a6bcc0;
    position: fixed;
    width: 100%;
}

.heading {
    
    height: 100vh;
    text-align: center;
    padding-top: 40vh;
    background-image: url('../src/img/heading-alt.jpg');
    background-size: cover;
    background-position: center;
    
}

.heading h1 {

    font-weight: 400;
    letter-spacing: 0.25rem;
}

.heading p {
    margin-left: 400px;
    font-size: 1.5rem;
}



